<section id="todoapp">
    <header id="header">
      <input type="text" id="new-todo" onkeydown={{action 'createTodo'}} placeholder="What needs to be done?" autofocus>
    </header>
      {{outlet}}
      {{#if model.length}}
        {{todo-list todos=model}}
        {{/if}}
  </section>
  <footer id="info">
    <p>Double-click to edit a todo</p>
  </footer>